.gpt3__header{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.header{
    min-width: 80%;
    min-height: 90%;
    margin-top: 3%;
    
}


.header-gradient{
    width: 45%;
    margin-left: 136px;
    margin-top: 40px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 65px;
    /* or 121% */
    
    letter-spacing: -0.04em;
    
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    min-height: 225px;

}

.header-text{
    min-height: 128px;
    margin-left: 138px;
    width: 39%;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    
    color: #81AFDD;
    font-family: 'Manrope';
}
.header-email input{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    padding: 5px;
    background: var(--color-footer);
    color: #fff;
    font-family: 'Manrope';
    border: none;
    min-width: 35%;
    min-height: 55px;
    border-radius: 5px 0px 5px 5px;
}
.header-email button{
    min-height: 55px;
    padding: 5px;
    background: #FF4820;
    border-radius: 0px 5px 5px 0px;
    min-width: 15%;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    
    color: #FFFFFF;
    font-family: 'Manrope';
    cursor: pointer;
}

.header-email{
    min-width: 50%;
    margin-left: 136px;
    display: flex;
}
.header-footer{
    display: flex;
    margin: 25px 0px 0px 136px;
    height: 36px;
    
}
.header-footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 38px;
    /* identical to box height, or 313% */
    
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Manrope';
}
.header-footer-companies{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 43%;
    min-height: 24.15px;
    margin-left: 299px;
    gap: 46.48px;

}
.header-footer-companies img{
    width: 12%;
    height: 5%;
    
}
.gpt3__header-img{
    min-height: 701.59px;
    min-width: 667.41px;
    margin-left: -26%;
    
}
.gpt3__header-img img{
    height: 77%;
    width: 79%;
    padding: 1rem;
}

@media screen and (max-width: 1020px) {
    .gpt3__header{
        display: flex;
        flex-direction: column;
    }
    .gpt3__header-img{
        height: 701.59px;
        width: 667.41px;
        margin-left: 20%;
        
    }
    .gpt3__header-img img{
        height: 77%;
        width: 79%;
        padding: 1rem;
    }
    .header-email{
        margin-top: 10px;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width:770px) {
    .header-gradient{
        width: 70%;
    }
    .header-text{
        width:65% ;
    }
    .header-email{
        margin-top: 2rem;
    }
    .header-footer-companies{
        margin-left: 20%;
    }
    .gpt3__header-img img{
        height: 62%;
        width: 66%;
        padding: 1rem;
        margin-top: 10%;
    }
      
}
@media screen and (max-width:490px){
    .gpt3__header{
        margin-left: -21%;
    }
    .header-gradient{
        font-size: 200%;
    }
    .header-text{
        font-size: 90%;
    }
    .gpt3__header-img img{
        height: 52%;
        width: 55%;
        padding: 1rem;
        margin-top: 10%;
    }
    .header-email input {
        min-height: 15px;
        font-size: 80%;
    }
    .header-email button{
        min-height: 16px;
        margin-top: 0px;
        font-size: 80%;
        font-weight:400;
    }
    .header-footer img{
       height: 25px;
      
    }
}
@media  screen and (max-width : 325px) {
    .header-gradient{
        width: fit-content;
    }
    .header{
        margin-left: -55px;
    }
}